.main {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 75px - 60px);
  &__container {
    margin: 25px 0;
    width: 100%;
  }
}

.card {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 7px 7px 55px 7px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    box-shadow: 0 0 19px -9px rgba(34, 60, 80, 0.9);
  }
  &__title {
    margin: 10px 0;
  }
  &__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 7px;
    left: 7px;
    padding-right: 15px;
    width: 100%;
    &::after {
      content: '';
      position: absolute;
      top: -13px;
      left: 0;
      width: 95%;
      height: 2px;
      background: var(--gradient-reverse);
    }

  }
  &__price {
    margin-right: 20px;
    padding-left: 2px;
    font-size: 24px;
    color: #333;
    font-weight: 700;

  }
  &__image {
    min-width: 100%;
  }
  &__description {
    margin-bottom: 20px;
  }
  &__button {
    padding: 10px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    background: var(--gradient-reverse);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1, 1.1);
    }
    &:active {
      background: var(--gradient);
    }
  }
}

.not-found {
  text-align: center;
}